.chatButton {
    background-color: #F7921E; 
    color: white; 
    border: 2px solid #F7921E;
    width:120px;
    height:35px;
    border-radius: 10px;
    margin-left: 87%;
}

.chatButton:hover {
    background-color: white;
    color: #F7921E;
    border: 2px solid #F7921E;
}
.chatPeople{
	display: inline-block;
	font-size: 14pt;
	margin-left: 30px;
	position:relative;
	top: 5px;
	font-weight: bold;
	color: #b9b9b9;
}
div .chatImg{
	width:100px;
	height:100px;
	display: inline-block;
	margin-left: 20px;
	margin-top: 20px;
	border-radius: 100px;
}

.profImg{
	border-radius: 100px;
	width:100px;
	height:100px;
}

.chatModal{
	width:450px;
}
.loginPresent{
	display: inline-block;
	margin-left: 70px;
	font-size: initial;
	cursor: pointer;
}
.chatRoom{
	height:140px;
}
.chatRoom .footer{
	padding : 10px 10px;
	color : #ccc;
}
.chatNicks{
	display:inline-block;
	font-size: 25pt;
	font-weight: bold;
	color: #b9b9b9;
	float:right;
	margin-top: 40px;
	width:500px;
}
.chatMemberProf{
	display:inline-block;
	font-size: 18pt;
	font-weight: bold;
	color: #b9b9b9;
	margin-left:50px;
}
#chatDiv{
	width:100%;
}