/* your styles go here */

div.content-page{
	margin: 50px;
}

div.content-page .row{
	margin-bottom: 5%
}

div.main-page .card{
	margin:10px;
	max-height:500px;
}

.main-page .card .header{
	padding:5%;
}

.main-page .card .header img{
	width:50px;
	height:50px;
	border-radius: 25px;
}

.main-page .card hr{
	margin: 3px;
}

.main-page .card .content{
	padding:5%;
}

.main-page .card .footer{
	padding:5%;
}

div.footer .time-tag{
	color: #aeaeae;
}

header.header nav.navbar input{
	width:550px;
}

header.header nav.navbar ul{
	margin-bottom:0;
}

header.header nav.navbar img{
	margin-bottom:0;
}

@media screen and (max-width:800px) {
	header.header nav.navbar input{
		width:300px;
	}
}

@media screen and (max-width:600px) {
	header.header nav.navbar input{
		width:200px;
	}
}

#loginInfo .nav-link img{
	max-height:40px;
	max-width:auto;
	
	border-radius: 20px;
}

/* 회원가입 모달 */
/* Full-width input fields */
div.modal-body input[type=text], div.modal-body input[type=password]{
    padding: 10px 10px;
    margin: 5px 0px;
    border: 1px solid #ccc;
    display: inline-block;
    width: 100%;
   	border-radius:5px;
}

div.modal-body label{
	margin-top:10px;
}

div.modal-body table{
	width:100%;
}
div.modal-body table tr{
	width:100%;
}
div.modal-body table tr td{
	width:100%;
}
div#signUpModal .modal-body table td.tdImgInput{
	display: inline-block;	
	width:85%;
}
div#signUpModal .modal-body table td.tdImgButton{
	display: inline-block;	
	width:15%;
}

div#signUpModal .modal-body input#imgInput{
	border-radius: 5px 0px 0px 5px;
}
div#signUpModal .modal-body button#imgButton{
	border-radius: 0px 5px 5px 0px;
}

div#signUpModal .modal-body table td.tdRadio{
	display: inline-block;	
	width:50%;
}

div#signUpModal .modal-body input[type=radio]{
	padding: 10px 10px;
    margin: 5px 5px;
}


/* Set a style for all buttons */
div.modal-body button {
	border-radius:5px;
	width:100%;	
    background-color: #F7921E;
    color: white;
	padding: 10px 10px;
	margin: 5px 5px;
    border: 1px solid #ccc;
    cursor: pointer;
}

div#signUpModal .modal-body select{
	width:100%;
	padding: 10px 10px;
    margin: 5px 5px;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    border-radius:5px;
}

/* Add padding to container elements */
div.modal-body .container{
	width:100%;
    padding: 16px;
}

div.modal-footer .btnOrange{
	background-color:#F7921E;
	color:white;
}

/* 그룹관리 페이지 */
div.groupAdmin-page .card{
	margin:2% 0;
}
div.groupAdmin-page .card .content{
	height:10%;
}

div.groupAdmin-page .card .content table{
	width:100%;
}
div.groupAdmin-page .card .content table tr{
	width:100%;
}

div.groupAdmin-page .card .content table td.groupImg{
	width:15%;
	padding:2%;
}

div.groupAdmin-page .card .content table td.groupImg img{
	max-width:70%;
	border-radius: 50%;
	padding:2%;
}

div.groupAdmin-page .card .content table td.groupName{
	font-weight: bold;
	font-size: 15px;
}
div.groupAdmin-page .card .content table td.groupInterest{
	width:30%;
}
div.groupAdmin-page .card .content table td.groupInfoOpen{
	width:30%;
}

div.groupAdmin-page .card .content table td.groupDelBtn{
	text-align:right;
	padding: 0 1%;
	width:10%;
}

div.groupAdmin-page .card .content table td.groupDelBtn span{
	color:red;
	cursor:pointer;
}

/* 그룹관리 페이지 검색 */
div.groupAdmin-page .groupSearchDiv{
	width:100%;
	max-height:30%;
	padding:1%;
	text-align: center;
}
div.groupAdmin-page span.groupSearchSpan{
	width:60%;
}

div.groupAdmin-page .searchBtn{
   	background-color: #F7921E;
   	color:white;
   	padding:7px;
   	
}

div.groupAdmin-page #newGroupListDiv{
	width:100%;
}

/* 회원 관리 페이지 */
div.memberAdmin-page .card{
	margin:2% 0;
}
div.memberAdmin-page .card .content{
	height:10%;
}

div.memberAdmin-page .card .content table{
	width:100%;
}
div.memberAdmin-page .card .content table tr{
	color:#a4a4a4;
	width:100%;
}

div.memberAdmin-page .card .content table td.memberImg{
	width:15%;
	padding:2%;
}

div.memberAdmin-page .card .content table td.memberImg img{
	max-width:70%;
	border-radius: 50%;
	padding:2%;
}

div.memberAdmin-page .card .content table td.memberName{
	font-weight: bold;
	font-size: 15px;
	width:35%;
}

div.memberAdmin-page .card .content table td.memberDelBtn{
	text-align:right;
	padding: 0 1%;
	width:10%;
}

div.memberAdmin-page .card .content table td.memberDelBtn span{
	color:red;
	cursor:pointer;
}

/* 회원관리 페이지 검색 */
div.memberAdmin-page .memberSearchDiv{
	width:100%;
	max-height:30%;
	padding:1%;
	text-align: center;
}
div.memberAdmin-page span.memberSearchSpan{
	width:60%;
}

div.memberAdmin-page .searchBtn{
   	background-color: #F7921E;
   	color:white;
   	padding:7px;
   	
}

div.memberAdmin-page #newMemberListDiv{
	width:100%;
}

/* 관리자 신고 페이지 */
div.singoAdmin-page .singoSelectDiv{
	width: 100%;
}
div.singoAdmin-page .singoSelectDiv .singoSelectSpan{
	vertical-align:middle;
	width:30%;
}
div.singoAdmin-page .singoSelectDiv .singoSelectSpan select{
	height:37px;
	padding-left:5%;
}
div.singoAdmin-page .singoSelectDiv button{
	vertical-align:middle;
	background-color: #F7921E;
	color:white;
	border:1px solid #ccc;
	padding:7px;
}
div.singoAdmin-page table{
	width:100%;
}
div.singoAdmin-page table th.tdNum{
	width:10%;
}
div.singoAdmin-page table th.MemberId{
	width:10%
}
div.singoAdmin-page table th.tdContent{
	width:35%;
}
div.singoAdmin-page table th.tdReason{
	width:30%;
}
div.singoAdmin-page table th.tdRestore{
	width:7.5%;	
}
div.singoAdmin-page table th.tdDelete{
	width:7.5%;
}
div.singoAdmin-page table button{
	border:none;
	color:white;
	padding:5px;
	font-weight: bold;
	margin: 0;
	
}
div.singoAdmin-page table button.restoreBtn{
	background-color: #47C83E;
}
div.singoAdmin-page table button.deleteBtn{
	background-color: red;
}

div.singoAdmin-page table th.tdGNum{
	width:15%;
}
div.singoAdmin-page table th.tdGName{
	width:30%;
}
div.singoAdmin-page table th.tdGReason{
	width:30%;
}
div.singoAdmin-page table th.tdGSingoCnt{
	width:10%;
}

/* 공지 모달 */
div#noticeModal.w3-modal{
	z-index:3;
	display:none;
	position:fixed;
	width:100%;
	height:100%;
	overflow:auto;
	background-color:rgb(0,0,0);
	background-color:rgba(0,0,0,0.4);
	padding:0;
	
}

div#noticeModal.w3-modal .w3-modal-content
{
	margin-top:10%;
	height: 60%;
	width: 55%;
	border-radius: 6px;
}
div#noticeModal.w3-modal header{
	background-color : #F7921E;
	color:white;
	height:15%;
	border-radius: 5px 5px 0 0;
}
div#noticeModal.w3-modal header span.w3-button{
	border-radius: 0 5px 0 0;
}
div#noticeModal.w3-modal .notice-content{
	height:85%;
	padding:0 16px;
}
div#noticeModal.w3-modal .notice-content table{
	width:100%;
	height:100%;
}
div#noticeModal.w3-modal .notice-content table tr{
	width:100%;
}
div#noticeModal.w3-modal .notice-content table tr td.radioArea{
	width:20%;
	height:30%;
	padding:0;
}
div#noticeModal.w3-modal .notice-content table tr td.searchMemberArea{
	width:80%;
	height:30%;
	vertical-align:top;
	padding: 3% 1% 1% 1%;
}
div#noticeModal.w3-modal .notice-content table tr td.searchMemberArea input[type=text]{
	font-size:1.3em;
	width:100%;
}
div#noticeModal.w3-modal .notice-content table tr td.searchMemberArea .dropdown .dropdown-content{
	z-index: 2;
	position:absolute;
	width:100%;
	background-color: white;
}
div#noticeModal.w3-modal .notice-content table tr td.searchMemberArea .dropdown .dropdown-content p{
	width:100%;
	margin:0;
	padding:2px 0;
}
div#noticeModal.w3-modal .notice-content table tr td.searchMemberArea .dropdown .dropdown-content p:hover{
	background-color: rgba(247, 146, 30, .5);
	border-radius : 3px;
	color:white;
}

div#noticeModal.w3-modal .notice-content table tr td.searchMemberArea #addedMember span.SpanAddedMember{
	font-size : 1em;
	margin:5px 3px;
	padding:3px;
	background-color: #f7921E;
	color:white;
	cursor: pointer;
}
div#noticeModal.w3-modal .notice-content table tr td.noticeContentArea{
	height:55%;
	width:100%;
}
div#noticeModal.w3-modal .notice-content textarea{
	width : 100%;
	height : 100%;
}
div#noticeModal.w3-modal .notice-content table tr td.noticeBtnArea{
	height:15%;
	text-align: right;
}
div#noticeModal.w3-modal .notice-content table tr td button{
	border: 1px solid #ccc;
	border-radius: 5px;
	padding : 7px 10px;
	background-color: white;
}
div#noticeModal.w3-modal .notice-content table tr td button#sendAlertBtn{
	background-color: #F7921E;
	color:white;
}

/* 게시글 관리 페이지 */
div.boardAdmin-page .boardSearchDiv{
	width:100%;
	max-height:30%;
	padding:1%;
	text-align: center;
}
div.boardAdmin-page span.boardSearchSpan{
	width:60%;
}

div.boardAdmin-page .searchBtn{
   	background-color: #F7921E;
   	color:white;
   	padding:7px;
   	
}
div.boardAdmin-page #newBoardListDiv table,
div.boardAdmin-page #newBoardListDiv table tr{
	width:100%;
}
div.boardAdmin-page #newBoardListDiv table.w3-table td, 
div.boardAdmin-page #newBoardListDiv table.w3-table th{
	padding : 8px 0;
	vertical-align: center;
}
div.boardAdmin-page #newBoardListDiv table th i.fa-arrow-down,
div.boardAdmin-page #newBoardListDiv table th i.fa-arrow-up{
	margin-left:5px;
	vertical-align: middle;
	color:#F7921E;
}
div.boardAdmin-page #newBoardListDiv table th i.fa-arrows-v{
	margin-left:3px;
	vertical-align: middle;
	color: rgba(247, 146, 30, .5);
	
}
div.boardAdmin-page #newBoardListDiv table tr .tdType,
div.boardAdmin-page #newBoardListDiv table tr .tdNum,
div.boardAdmin-page #newBoardListDiv table tr .tdSingo,
div.boardAdmin-page #newBoardListDiv table tr .tdLike,
div.boardAdmin-page #newBoardListDiv table tr .tdCount{
	width:7%;
}
div.boardAdmin-page #newBoardListDiv table tr .tdMemberId{
	width:10%;
}
div.boardAdmin-page #newBoardListDiv table tr .tdContent{
	width:30%;
}
div.boardAdmin-page #newBoardListDiv table tr .tdTime{
	width:25%;
}
div.boardAdmin-page #newBoardListDiv table tr .tdNum,
div.boardAdmin-page #newBoardListDiv table tr .tdTime,
div.boardAdmin-page #newBoardListDiv table tr .tdLike,
div.boardAdmin-page #newBoardListDiv table tr .tdCount{
	cursor: pointer;
}

/* 관리자 추가 페이지 */
div.addAdmin-page .addAdminTable{
	width:100%;
}
div.addAdmin-page .addAdminTable form{
	width:50%;
}
div.addAdmin-page .addAdminTable form span.adminLabel{
	font-size : 1.0em;
	width:25%;
	padding:0;
	margin:10px 0;
}
div.addAdmin-page .addAdminTable form span.adminInput{
	font-size : 1.0em;
	width:70%;
	padding:0;
	margin:10px 0;
}
div.addAdmin-page .addAdminTable form p{
	text-align: right;
	padding:10px 19px 0 0;
}
div.addAdmin-page .addAdminTable form p span#adminMsg{
	font-size : 1.0em;
	margin-right: 5%;
}
div.addAdmin-page .addAdminTable #adminAddSubmit{
	vertical-align:middle;
	background-color: #F7921E;
	color:white;
	border:1px solid #ccc;
	padding:7px;
}

/* 그룹 회원 보기 페이지 */
div.groupMember .col-md-2{
	text-align : center;
	margin-left: 10px;
	margin-right: 10px;
	margin-bottom : 4%;
}
div.groupMember .col-md-2 .header,
div.groupMember .col-md-2 .content,
div.groupMember .col-md-2 .footer{
	padding : 10px 10px;
}
div.groupMember .col-md-2 .header img{
	max-height: 60px;
	border-radius: 30px;
}
div.groupMember .col-md-2 .footer span.appoint{
	cursor:pointer;
	float: left;
}
div.groupMember .col-md-2 .footer span.expel{
	cursor:pointer;
	float:right;
}
div.groupMember .col-md-2 .footer i.fa-level-up{
	margin-left:-7px;
	z-index:-1;
}

/* 그룹 가입 승인 페이지 */
div.groupJoin .col-md-2{
	text-align : center;
	margin-left: 10px;
	margin-right: 10px;
	margin-bottom : 4%;
}
div.groupJoin .col-md-2 .header,
div.groupJoin .col-md-2 .content,
div.groupJoin .col-md-2 .footer{
	padding : 10px 10px;
}
div.groupJoin .col-md-2 .header img{
	max-height: 60px;
	border-radius: 30px;
}
div.groupJoin .col-md-2 .footer span.approve{
	cursor:pointer;
	float: left;
}
div.groupJoin .col-md-2 .footer span.reject{
	cursor:pointer;
	float:right;
}

/* 그룹 메인 페이지 */
.group-info table.group-info-table{
	width:100%;
	height:100%;
}
.group-info table.group-info-table tr{
	width:100%;
}
.group-info table.group-info-table td.group-info-img{
	padding:3%;
	width:20%;
}
.group-info table.group-info-table td.group-info-name,
.group-info table.group-info-table td.group-info-info,
.group-info table.group-info-table td.group-info-interest,
.group-info table.group-info-table td.group-info-btn{
	width:80%;
	padding:1%;
}
.group-info table.group-info-table td.group-info-name{
	font-size: large;
}
.group-info table.group-info-table td.group-info-btn{
	text-align: right;
}

.group-info .group-info-img-span{
	height:150px;
	width:150px;
	overflow: hidden;
	border-radius: 75px;
}

div.group-main .group-boardList .header .group-boardList-img-span{
	height:50px;
	width:50px;
	overflow: hidden;
	border-radius: 25px;
}

div.group-main .card .header{
	padding :1% 5%;
	display: table;
}
div.group-main .group-boardList .card .header span{
	display:table-cell;
	vertical-align: middle;
}
div.group-main .group-boardList .card .header img{
	margin:0;
}
div.group-main  .card .content{
	padding :1% 5%;
}
div.group-main .card .footer{
	padding :1% 5%;
}
div.group-main .group-boardList .card hr{
	margin : 3px;
}

<<<<<<< HEAD
/* 그룹 리스트 페이지 */
=======
div.group-main .group-board form{
	padding : 1% 0;
}
div.group-main .group-board textarea{
	height:20%;
	width:100%;
	overflow: hidden;
}
div.group-main .group-board .footer{
	margin-top:-1%;
	text-align: right;
}
div.group-main .group-board .footer input[type=submit]{
	background-color: #F7921E;
	color:white;
	border:1px solid #ccc;
	padding:3px;
	border-radius: 3px;
}

button.groupAdminBtn{
	border : 1px solid #ccc;
	background-color: white;
	color : #F7921E;
	padding : 3px;
	border-radius: 3px;
}

/* 친구 리스트, 그룹 리스트 페이지 */
>>>>>>> branch 'master' of https://github.com/Kchangwook/RSC.git
div.friend-edge .friend-out .firend-back .list-img{
	margin-top:30px;
	margin-bottom: -10px;
	height: 100px;
	width : 100px;
	overflow : hidden;
	border-radius: 50px;
}



/* 로그인 후 페이지 */

.main-page2 .card .header{
	padding:1% 5%;
}

.main-page2 .card .header img{
	width:50px;
	height:50px;
	border-radius: 25px;
}

.main-page2 .card hr{
	margin: 3px;
}

.main-page2 .card .content{
	padding:1% 5%;
}

.main-page2 .card .footer{
	padding:1% 5%;
}

/* 글 상세보기 모달 */
.modal .modal-dialog .modal-content img{
	width:50px;
	height:50px;
	border-radius: 25px;
}

.modal .modal-dialog .modal-content .col-md-12 .header {
	padding: 2% 5%;
}

.modal .modal-dialog .modal-content .col-md-12 .content {
    padding: 2% 5%;
}

.modal .modal-dialog .modal-content .col-md-12 hr {
	margin: 3px;
}

.padding {
	padding: 2% 5%;
}

.form-inline1 {
  display: -ms-flexbox;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -ms-flex-align: center;
  align-items: center;
}

.singoBtn {
	float: left;
	width: 45%;
}

.likeBtn {
	float: right;
	width: 10%;
}

.likeCnt {
	float: right;
	width: 30%;
	padding-right: 5%;
}

/* 사이 여백 */
.clear {
	clear: both;
	padding: 1%;
}

.padding1 {
	padding: 2% 3%;
}

/* 댓글 */
.modal .modal-dialog .modal-content .row img{
	width:35px;
	height:35px;
	border-radius: 25px;
}



