/* your styles go here */

div.content-page{
	margin: 50px;
}

div.content-page .row{
	margin-bottom: 5%
}

div.main-page .card{
	margin:10px;
	max-height:500px;
}

.main-page .card .header{
	padding:5%;
}

.main-page .card .header img{
	width:50px;
	height:50px;
	border-radius: 25px;
}

.main-page .card hr{
	margin: 3px;
}

.main-page .card .content{
	padding:5%;
}

.main-page .card .footer{
	padding:5%;
}

div.footer .time-tag{
	color: #aeaeae;
}

header.header nav.navbar input{
	width:550px;
}

@media screen and (max-width:800px) {
	header.header nav.navbar input{
		width:300px;
	}
}

@media screen and (max-width:600px) {
	header.header nav.navbar input{
		width:200px;
	}
}

#loginInfo .nav-link img{
	max-height:40px;
	max-width:auto;
	
	border-radius: 20px;
}

/* 회원가입 모달 */
/* Full-width input fields */
div.modal-body input[type=text], input[type=password]{
    padding: 10px 10px;
    margin: 5px 0px;
    border: 1px solid #ccc;
    display: inline-block;
    width: 100%;
   	border-radius:5px;
}

div.modal-body label{
	margin-top:10px;
}

div.modal-body table{
	width:100%;
}
div.modal-body table tr{
	width:100%;
}
div.modal-body table tr td{
	width:100%;
}
div#signUpModal .modal-body table td.tdImgInput{
	display: inline-block;	
	width:85%;
}
div#signUpModal .modal-body table td.tdImgButton{
	display: inline-block;	
	width:15%;
}

div#signUpModal .modal-body input#imgInput{
	border-radius: 5px 0px 0px 5px;
}
div#signUpModal .modal-body button#imgButton{
	border-radius: 0px 5px 5px 0px;
}

div#signUpModal .modal-body table td.tdRadio{
	display: inline-block;	
	width:50%;
}

div#signUpModal .modal-body input[type=radio]{
	padding: 10px 10px;
    margin: 5px 5px;
}


/* Set a style for all buttons */
div.modal-body button {
	border-radius:5px;
	width:100%;	
    background-color: #F7921E;
    color: white;
	padding: 10px 10px;
	margin: 5px 5px;
    border: 1px solid #ccc;
    cursor: pointer;
}

div#signUpModal .modal-body select{
	width:100%;
	padding: 10px 10px;
    margin: 5px 5px;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    border-radius:5px;
}

/* Add padding to container elements */
div.modal-body .container{
	width:100%;
    padding: 16px;
}

div.modal-footer .btnOrange{
	background-color:#F7921E;
	color:white;
}

/* 그룹관리 페이지 */
div.groupAdmin-page .card{
	margin:2% 0;
}
div.groupAdmin-page .card .content{
	height:10%;
}

div.groupAdmin-page .card .content table{
	width:100%;
}
div.groupAdmin-page .card .content table tr{
	width:100%;
}

div.groupAdmin-page .card .content table td.groupImg{
	width:15%;
	padding:2%;
}

div.groupAdmin-page .card .content table td.groupImg img{
	max-width:70%;
	border-radius: 50%;
	padding:2%;
}

div.groupAdmin-page .card .content table td.groupName{
	font-weight: bold;
	font-size: 15px;
}
div.groupAdmin-page .card .content table td.groupInterest{
	width:30%;
}

div.groupAdmin-page .card .content table td.groupDelBtn{
	text-align:right;
	padding: 0 1%;
	width:10%;
}

div.groupAdmin-page .card .content table td.groupDelBtn span{
	color:red;
	cursor:pointer;
}








