.friend-info{
	margin-left:320px;
	width:500px;
	height:550px;
}
.friend-align{
	margin-left: 140px;
}
.friend-pfimg{
	width: 280px;
	height:280px;
	border-radius: 140px;
	overflow:hidden;
	margin-top:40px;
	margin-left:83px;
}
.friend-name{
	position:relative;
	color: #a5a5a5;
	margin-left: 70px;
	top:20px;
	font-size: 30pt;
}
.friend-interest{
	position:relative;
	color: #a5a5a5;
	font-size: 13pt;
	margin-left: -130px;
	top:40px;
}
.friend-intercontent{
	position:relative;
	color: #b9b9b9;
	font-size: 12pt;
	top:45px;
	left:-75px;
}
.friend-add {
	position:relative;
	top:80px;
	left:235px;
	width:90px;
	height:35px;
    background-color: #f7921e; 
    color: white; 
    border: 2px solid #f7921e;
    font-size:12pt;
    border-radius: 10px;
}
.friend-add:hover {
    background-color: white;
    color: #f7921e;
    border: 2px solid #f7921e;
}
.friend-content{
	align-content: center;
}
table,td{
	text-align: center;
}